.loginSection {
  color: white;
}
.loginContainer {
  background-position: center;
  background-size: cover;
  background-image: url();
  height: calc(100vh - 81px);
  display: grid;
  width: 1120px;
  margin: 0 auto;
  place-items: center;
  padding-top: 1rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.loginFormBox {
  width: 500px;
  height: 500px;
  padding: 1rem;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  border-radius: 15px;
}

.loginForm {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
.loginForm label {
  display: flex;
  flex-direction: column;
}
.loginContainer h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 4px;
}
.loginContainer p {
  font-size: 17px;
  color: #bcbcbc;
}
.loginFormm {
  margin-top: 1rem;
}
.loginFormm input {
  height: 45px;
  outline: none;
  margin-top: 5px;
  padding-left: 10px;
  color: black;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
  border: 1px solid gray;
  border-radius: 10px;
}
.lSpan {
  margin-left: 4px;
  font-size: 20px;
}
.registerButtons {
  display: flex;
  gap: 8px;
  align-items: center;
}
.loginBtn {
  width: 170px;
  font-size: 16px;
  margin-top: 1rem;
  height: 55px;
}
.photoPart img {
  max-width: 650px;
}
.ifHaveAcconut p {
  height: 55px;
  font-size: 14px;
  text-align: end;
}
.eyeIcon {
  font-size: 20px;
  color: black;
}
.eyeInput {
  position: relative;
}
.passwordIcon {
  position: absolute;
  top: 40px;
  left: 340px;
}

/* Responiv */
/* Mobile devices */

@media (min-width: 320px) and (max-width: 480px) {
  .loginSection {
    overflow: hidden;
  }
  .loginContainer {
    width: 100%;
    padding: 14px;
    display: flex;
    gap: 10px;
    height: 100%;
    flex-direction: column;
  }
  .photoPart img {
    width: 0px;
    height: 0px;
  }
  .photoPart {
    width: 0px;
    height: 0px;
  }
  .ifHaveAcconut p {
    font-size: 15px;
  }
  .loginForm {
    gap: 2rem;
  }
  .lSpan {
    font-size: 23px;
  }
  .loginForm input {
    height: 50px;
    font-size: 20px;
  }
  .passwordIcon {
    top: 44px;
    left: 88%;
  }
  .eyeIcon {
    font-size: 24px;
  }
  .loginP{
    gap: 1rem;
    justify-content: flex-start;
  }
}
/* iPads, Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .loginSection {
    overflow: hidden;
  }
  .generalBox {
    width: 100%;
  }
  .loginContainer {
    width: 100%;
    display: flex;
    padding: 1rem;
    gap: 10px;
    height: 100%;
    flex-direction: column;
  }

  .photoPart img {
    width: 0px;
    height: 0px;
  }
  .photoPart {
    width: 0px;
    height: 0px;
  }
  .ifHaveAcconut p {
    font-size: 15px;
  }
  .loginForm {
    gap: 2.5rem;
  }
  .lSpan {
    font-size: 23px;
  }
  .loginForm input {
    height: 65px;
  }
  .passwordIcon {
    top: 50px;
    left: 90%;
  }
  .eyeIcon {
    font-size: 24px;
  }
  .registerButtons {
    justify-content: flex-end;
  }
  .loginBtn {
    width: 220px;
    font-size: 23px;
    height: 70px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .loginSection {
    overflow: hidden;
  }
  .generalBox {
    width: 100%;
  }
  .loginContainer {
    width: 100%;
    padding: 1rem;
    gap: 2rem;
    height: 100%;
  }
  .photoPart img {
    width: 100%;
    height: 100%;
  }
  .ifHaveAcconut p {
    font-size: 15px;
  }
  .loginForm {
    gap: 2rem;
  }
  .lSpan {
    font-size: 23px;
  }
  .loginForm input {
    height: 55px;
  }
  .passwordIcon {
    top: 50px;
    left: 90%;
  }
  .eyeIcon {
    font-size: 24px;
  }
  .registerButtons {
    justify-content: flex-end;
  }
  .loginBtn {
    width: 200px;
    font-size: 23px;
    height: 65px;
  }
}

/*  Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1300px) {
  .loginSection {
    overflow: hidden;
  }
  .generalBox {
    width: 100%;
  }
  .loginContainer {
    width: 100%;
    padding: 1rem;
    gap: 2rem;
    height: 100%;
  }
  .photoPart img {
    width: 100%;
    height: 100%;
  }
  .ifHaveAcconut p {
    font-size: 15px;
  }
  .loginForm {
    gap: 2rem;
  }
  .lSpan {
    font-size: 23px;
  }
  .loginForm input {
    height: 55px;
  }
  .passwordIcon {
    top: 50px;
    left: 90%;
  }
  .eyeIcon {
    font-size: 24px;
  }
  .registerButtons {
    justify-content: flex-end;
  }
  .loginBtn {
    width: 200px;
    font-size: 23px;
    height: 65px;
  }
}