@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
}
.contactSection {
  height: 100vh;
  background-color: black;
}
.hdr {
  background-color: black;
  color: white;
}
.contactWrapper {
  padding: 2rem;
  border-radius: 20px;
  gap: 1rem;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  color: black;
  margin-top: 3rem;
  background-color: white;
  flex-direction: column;
}
.contactTitle {
  display: flex;

  flex-direction: column;
}
.contactForm {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}
.firstPart {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 2fr;
}
.contactSpan {
  font-weight: 500;
  margin-bottom: -3px;
  color: #b2b2b2;
  margin-left: 2px;
  font-size: 12px;
  letter-spacing: -0.4px;
}
.contactMainTitle {
  margin: 0;
  font-size: 34px;
  font-weight: bold;
}
.secondSpan {
  color: red;
  font-size: 18px;
  letter-spacing: -0.5px;
  font-weight: 500;
}
.contactParagraf {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 18px;
}

.hr2 {
  height: 1px;
  background-color: #aaaaaa;
  margin-top: 2rem;
  width: 282px;
}
.contactInput {
  border: none;
  padding: 0;
  height: 50px;
  outline: none;
  border-radius: 0;
  border-bottom: 2px solid gray;
}
.secondPart {
  display: grid;
  gap: 2rem;
  margin-left: 3rem;
  grid-template-columns: repeat(3, 1fr);
}
.contactItems {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.contactItems p {
  color: gray;
  font-size: 14px;
  max-width: 300px;
}
.contactItems h2 {
  font-weight: 500;
  font-size: 18px;
}
.resBtn {
  width: 120px;
  height: 53px;
}

/* Responsiv */
/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .contactSection {
    overflow: hidden;
    height: 100%;
    padding: 10px;
    width: 100%;
  }
  .contactWrapper {
    width: 100%;
    padding: 5px;
    margin-top: 8px;
    border-radius: 5px;
  }
  .firstPart {
    grid-template-columns: repeat(1, 1fr);
  }
  .contactSpan {
    font-size: 8px;
  }
  .contactMainTitle {
    font-size: 14px;
  }
  .secondSpan {
    font-size: 10px;
  }
  .contactParagraf {
    margin-top: 5px;
    font-size: 14px;
  }
  .hr2 {
    display: none;
  }
  .noneHr{
    display: none;
  }
  .contactForm {
    gap: 10px;
  }
  .contactInput {
    height: 30px;
    font-size: 12px;
    border-bottom: 1px solid gray;
  }
  .resBtn {
    height: 30px;
    width: 56px;
    font-size: 7px;
  }
  .secondPart {
    margin-left: 0;
    margin-bottom: 8px;
    gap: 5px;
  }
  .contactItems h2 {
    font-size: 10px;
  }
  .contactItems p {
    font-size: 8px;
  }
}

/* iPads, Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .contactSection {
    overflow: hidden;
    height: 100%;
    padding: 1rem;
    width: 100%;
  }
  .contactWrapper {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
  }
  .firstPart {
    grid-template-columns: repeat(1, 1fr);
  }
  .contactSpan {
    font-size: 10px;
  }
  .contactMainTitle {
    font-size: 20px;
  }
  .secondSpan {
    font-size: 12px;
  }
  .contactParagraf {
    margin-top: 5px;
    font-size: 19px;
  }
  .hr2 {
    display: none;
  }
  .contactForm {
    gap: 10px;
  }
  .contactInput {
    height: 30px;
    font-size: 12px;
    border-bottom: 1px solid gray;
  }
  .resBtn {
    height: 40px;
    width: 80px;
    font-size: 9px;
  }
  .secondPart {
    margin-left: 0;
    margin-bottom: 1rem;
    gap: 5px;
  }
  .contactItems h2 {
    font-size: 14px;
  }
  .contactItems p {
    font-size: 11px;
  }
}

/*  Small screens, laptops */

@media (min-width: 769px) and (max-width: 1024px) {
  .contactSection {
    overflow: hidden;
    height: 100%;
    padding: 1rem;
    width: 100%;
  }
  .contactWrapper {
    width: 100%;
    padding: 1rem;
  }
  .firstPart {
    gap: 1rem;
    grid-template-columns: 1fr 2fr;
  }
  .contactSpan {
    font-size: 12px;
  }
  .contactMainTitle {
    font-size: 24px;
  }
  .secondSpan {
    font-size: 14px;
  }

  .hr2 {
    height: 0;
  }
  .contactForm {
    gap: 10px;
  }
  .contactInput {
    height:49px;
    font-size: 16px;
    border-bottom: 1px solid gray;
  }
  .secondPart {
    margin-left: 0;
    margin-bottom: 1rem;
    gap: 1rem;
  }
  .contactItems h2 {
    font-size: 16px;
  }
  .contactItems p {
    font-size: 14px;
  }
}
