.allSection {
  background-color: #002233;
}
.paymentHeader {
  display: flex;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.paymentHeader img {
  width: 80px;
}
.paymentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(100vh - 81px);
}
.resBtn4 {
  width: 110px;
  padding: 4px;
  height: 55px;
}
.paymentBox {
  display: flex;
  justify-content: center;
  align-self: center;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(255 255 255 / 80%);
}
.hr {
  height: 1px;
  opacity: 0.2;
  background-color: white;
}
.payDetails {
  padding: 1rem;
  width: 600px;
  border-radius: 8px;
  background-color: white;
}
.totalHeader {
  margin-right: 1rem;
  display: flex;
  font-weight: 500;
  justify-content: start;
}
.payDetails input {
  background-color: white;
  outline-color: #2f5384;
  border: none;
  border: 1px solid gray;
  padding: 1rem;
  border-radius: 5px;
}

.payForm {
  gap: 1.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
.payForm label {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.dateDetails {
  gap: 1rem;
  display: flex;
}
.dateDetails label {
  width: 55px;
  align-items: center;
  outline: #2f5384;
}
select {
  width: 100%;
  padding: 10px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  font-size: 14px;
  color: #333;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.sscInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  font-size: 26px;
  color: #333;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.payImg img {
  width: 400px;
}
.payImg {
  display: flex;
  flex-direction: column;
}
.loading {
  height: 350px;
}

/* Responiv */
/* Mobile devices */

@media (min-width: 320px) and (max-width: 480px) {
  .allSection {
    overflow: hidden;
  }
  .paymentWrapper {
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: #002233;
  }
  .paymentSection {
    width: 100%;
  }
  .payDetails {
    width: 100%;
  }
  .payImg img {
    width: 238px;
  }
  .payImg h1 {
    font-weight: 500;
    font-size: 20px;
  }
  .payForm {
    gap: 12px;
    font-size: 14px;
  }
  .payDetails span {
    margin-left: 2px;
  }
  .payForm input {
    padding: 8px;
    border: none;
    border: 1px solid gray;
  }
  .dateDetails label {
    align-items: center;
  }
  .sscInput {
    text-align: center;
  }
  .dateDetails select {
    text-align: center;
  }
  .totalHeader {
    font-size: 16px;
  }
  .resBtn4 {
    width: 85px;
    padding: 3px;
    height: 42px;
  }
}

/* iPads, Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .allSection {
    overflow: hidden;
  }
  .paymentWrapper {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #002233;
  }
  .paymentSection {
    width: 100%;
  }
  .payDetails {
    width: 100%;
  }
  .payImg img {
    width: 315px;
  }
  .payForm {
    gap: 12px;
    font-size: 15px;
  }
  .payDetails span {
    margin-left: 2px;
  }
  .payForm input {
    padding: 13px;
    border: none;
    border: 1px solid gray;
  }
  .dateDetails label {
    align-items: center;
  }
  .sscInput {
    text-align: center;
  }
  .dateDetails select {
    text-align: center;
  }
  .totalHeader {
    font-size: 16px;
    margin-left: 3px;
  }
  .resBtn4 {
    width: 100px;
    padding: 4px;
    height: 50px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .allSection {
    overflow: hidden;
  }
  .paymentWrapper {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: #002233;
  }
  .paymentSection {
    width: 100%;
  }
  .payDetails {
    width: 100%;
  }
  .totalHeader {
    font-size: 16px;
    margin-left: 3px;
  }
  .resBtn4 {
    width: 110px;
    padding: 4px;
    height: 55px;
  }
}
