@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", Arial, sans-serif;
}
.detailContainer {
  width: 100%;
  height: 100%;
  color: white;
  margin-bottom: 4rem;
}
.detailWrapper {
  width: 1200px;
  margin: 0 auto;
  gap: 3rem;
  display: flex;
  flex-direction: column;
}
.detailTitleContainer {
  margin-top: 2rem;
}
.detailTitle {
  font-size: 25px;
  margin-bottom: 10px;
  cursor: default;
  text-shadow: 0 1px 0 rgba(253, 53, 90, 1), 1px 1px 0 rgba(253, 53, 90, 1),
    1px 1px 0 rgba(253, 53, 90, 1), -1px 1px 0 rgba(253, 53, 90, 1);
  text-transform: uppercase;
}
.detailBox2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}
.detailBox1 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.detailImg img {
  border-radius: 50px;
  height: 313px;
}
.aboutConcert h4 {
  font-size: 25px;
  margin-top: 5px;
}
.detailDesc {
  color: gray;
}
.aboutConcert {
  gap: 5px;
  width: 300px;
  display: flex;
  flex-direction: column;
}
.detailAboutWrapper {
  font-size: 20px;
  display: flex;
  color: #ccc9c9;
  flex-direction: column;
}
.detailTitleWrapper {
  display: flex;
  flex-direction: column;
}
.location {
  gap: 3rem;
  display: flex;
  flex-direction: column;
}
.aboutDetail {
  display: flex;
  flex-direction: column;
}
.aboutDetail h2 {
  font-size: 20px;
  cursor: default;
  color: #ccc8c8;
}
.aboutDetail p {
  color: gray;
  font-size: 16px;
}

.detailMap {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.detailMap h2 {
  cursor: default;
  color: #ccc8c8;
  font-size: 18px;
  flex-direction: column;
}

.detailFlexBox {
  display: flex;
  gap: 2rem;
}

/* Responsiv */
/* Mobile devices */

@media (min-width: 320px) and (max-width: 480px) {
  .detailContainer {
    overflow: hidden;
  }
  .detailWrapper {
    width: 100%;
    gap: 0;
  }
  .detailTitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0;
  }
  .detailTitleContainer {
    padding: 10px;
  }
  .lilCrump {
    font-size: 13px;
    margin-bottom: -10px;
  }
  .crumbSpan {
    color: rgb(253, 53, 90);
  }

  .crumpFlex {
    flex-direction: column-reverse;
    align-items: center;
  }
  .detailBox2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .detailFlexBox {
    flex-direction: column;
  }
  .detailImg img {
    height: 100%;
    width: 100%;
    border-radius: 0;
  }
  .aboutConcert {
    padding: 10px;
    width: 100%;
  }

  .aboutDetail h2 {
    font-size: 18px;
  }
  .aboutDetail {
    padding: 10px;
  }
  .aboutDetail p {
    font-size: 14px;
  }
  .detailMap {
    height: 300px;
  }
  .location {
    padding: 10px;
  }
}

/* iPads, Tablets */

@media (min-width: 481px) and (max-width: 768px) {
  .detailContainer {
    overflow: hidden;

  }
  .detailWrapper {
    padding: 1rem;
    width: 100%;
    gap: 0;
  }
  .detailTitle {
    font-size: 18px;
    margin-bottom: 0;
  }
  .detailTitleContainer {
    margin-top: 1rem;
  }
  .crumpFlex {
    margin-left: -2rem;
  }
  .lilCrump {
    display: none;
  }
  .crumpFlex {
    align-items: center;
  }
  .detailBox2 {
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .detailFlexBox {
    gap: 1rem;
  }
  .detailImg img {
    height: 220px;
    border-radius: 0;
  }

  .detailTitleWrapper h2 {
    font-size: 16px;
  }
  .detailAboutWrapper {
    font-size: 14px;
  }
  .detailDesc {
    font-size: 14px;
  }
  .aboutConcert {
    width: 100%;
  }
  .aboutDetail h2 {
    font-size: 18px;
  }
  .aboutDetail {
    padding: 10px;
  }
  .aboutDetail p {
    font-size: 14px;
  }
  .detailMap {
    height: 400px;
  }
}

/*  Small screens, laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  .detailContainer {
    overflow: hidden;
  }
  .detailWrapper {
    padding: 1rem;
    width: 100%;
    gap: 2rem;
  }
  .detailTitle {
    margin-bottom: 0;
  }
  .detailTitleContainer {
    margin-top: 1rem;
  }
  
  .lilCrump {
    display: none;
  }
  .crumpFlex {
   align-items: center;
  }
  .crumbSpan{
    color: rgb(253, 53, 90) ;
  }
  .lilCrump{
    display: block;
  }
  .detailBox2 {
    gap: 2rem;
    grid-template-columns: repeat(1, 1fr);
  }
  .detailFlexBox {
    gap: 1rem;
  }
  .detailImg img {
    height: 280px;
  }
  .detailTitleWrapper{
    margin-bottom: 10px;
  }
  .aboutConcert {
    width: 100%;
    padding: 5px;
  }
  .aboutDetail {
    padding: 10px;
  }
  .detailAboutWrapper{
    gap: 1rem;
  }
  .location{
    padding: 10px;
  }
}

/*  Desktops, large screens */
@media (min-width: 1025px) and (max-width: 1200px) {
  .detailContainer {
    overflow: hidden;
  }
  .detailWrapper {
    padding: 2rem;
    width: 100%;
    gap: 2rem;
  }
  .detailTitle {
    margin-bottom: 0;
  }
  .detailTitleContainer {
    margin-top: 1rem;
  }
  
  .lilCrump {
    display: none;
  }
  .crumpFlex {
   align-items: center;
  }
  .crumbSpan{
    color: rgb(253, 53, 90) ;
  }
  .lilCrump{
    display: block;
  }
  .detailBox2 {
    gap: 2rem;
    grid-template-columns: 2fr 1.5fr;
  }
  .detailFlexBox {
    gap: 1rem;
  }
  .detailImg img {
    height: 290px;
  }
  .aboutConcert {
    width: 100%;
  }
  .aboutDetail {
    padding: 10px;
  }
  .aboutDetail p{
    font-size: 14px;
  }
  .detailAboutWrapper{
    gap: 5px;
    font-size: 16px;
  }
}

